USE [master]
GO
/****** Object:  Database [kimlik]    Script Date: 13.01.2022 18:41:49 ******/
CREATE DATABASE [kimlik]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kimlik', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\kimlik.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'kimlik_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\kimlik_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kimlik].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kimlik]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 13.01.2022 18:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[Adminkuladi] [nvarchar](50) NULL,
	[AdminSifre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EGITIM]    Script Date: 13.01.2022 18:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EGITIM](
	[asd] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[kimlik]    Script Date: 13.01.2022 18:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kimlik](
	[TC] [numeric](11, 0) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[DogumTarihi] [date] NULL,
	[DogumYeri] [nvarchar](50) NULL,
	[Ulke] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](50) NULL,
 CONSTRAINT [PK_kimlik] PRIMARY KEY CLUSTERED 
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 13.01.2022 18:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kullanici](
	[kid] [int] IDENTITY(1,1) NOT NULL,
	[kuladi] [varchar](50) NOT NULL,
	[sifre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_kullanici] PRIMARY KEY CLUSTERED 
(
	[kid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAGLIK]    Script Date: 13.01.2022 18:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAGLIK](
	[asd] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SICIL]    Script Date: 13.01.2022 18:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SICIL](
	[sicil_no] [int] NOT NULL,
	[sicil_icerik] [varchar](250) NOT NULL,
	[TC] [numeric](11, 0) NOT NULL,
 CONSTRAINT [PK_SICIL] PRIMARY KEY CLUSTERED 
(
	[sicil_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VIZE]    Script Date: 13.01.2022 18:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIZE](
	[ASD] [nchar](10) NULL
) ON [PRIMARY]

GO
USE [master]
GO
